# Node modules
node_modules/

# Shopify CLI files
.env
.shopify/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VSCode settings (si usas VSCode)
.vscode/

# Lock files (opcional, si no quieres subirlos)
package-lock.json
yarn.lock
